
.search_box_top_nav {
    margin-top: 6.5px;
}

.search_icon_top_nav {
    margin-top: 4px;
}

.home_logo {
    margin-left: 0px;
}

.navbar .nav > li > a {
float: none;
padding: 10px 10px 11px;
line-height: 19px;
color: white;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(277, 66, 52, .25);
font-size: 15px;
}

.navbar .nav > li {
    margin-left: 0px;
}


#dropdown_nav {
    margin-top: 21px;
    height: 36px;
}

#logo {
    margin-left: 15px;
}

#nav-top {
    height: 45px;
    background-color: white;
}

#search_top_nav {
    margin-left: 14px;
}

#third_nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
}

#third_nav a {
    color: rgb(227, 66, 52);
}

/*Navbar 2 Stuff (Dropdown Nav)
--------------------------------------------------------------------------------------------------------------
*/
 
 .nav-tabs > li > a, .nav-pills > li > a {
padding-right: 6px;
padding-left: 6px;
margin-right: 2px;
line-height: 14px;
}

