
.search_box_top_nav {
    margin-top: 6.5px;
}

.search_icon_top_nav {
    margin-top: 7px;
}

#search-icon_link {
    padding: 0px 0px 0px 0px;
    display: inline;
    
}

.home_logo {
    margin-left: 0px;
}

.navbar .nav > li > a {
float: none;
padding: 10px 17px 11px;
line-height: 19px;
color: white;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(277, 66, 52, .25);
font-size: 15px;
}

.navbar .nav > li {
    margin-left: 0px;
}


#dropdown_nav {
    margin-top: 45px;
    height: 36px;
    margin-left: 31px;
    margin-bottom: 0px;
}

#logo {
    margin-left: 15px;
}

#nav-top {
    height: 45px;
}

#search_top_nav {
    margin-left: 35px;
}

#third_nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#third_nav a {
    color: rgb(227, 66, 52);
    padding-left: 4px;
}


.navbar .nav > li > a:hover {
  background-color: transparent;
  color:  rgb(227, 66, 52);
  text-decoration: none;
}

.dropdown_spacing_resources {
    margin-right: 60px;
}

ul.nav2 li.dropdown:hover ul.dropdown-menu{
    /*allows for hovering over the dropdown to active it*/
    display: block;    
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(277, 66, 52);
}

/*Navbar 3 Stuff (Indexed Nav)
--------------------------------------------------------------------------------------------------------------
*/
 
 .nav-tabs > li > a, .nav-pills > li > a {
padding-right: 6px;
padding-left: 6px;
margin-right: 2px;
line-height: 14px;
}

/*Navbar 2 Stuff (Dropdown Nav)
--------------------------------------------------------------------------------------------------------------
*/

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 198px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.entire_dropdown_shift_left {
    margin-right: 100px;
}

.dropdown_spacing {
    padding-right: 30px;
}

.navbar2 {
  overflow: visible;
  margin-bottom: 18px;
}
.navbar-inner2 {
  padding-left: 22px;
  
  background-color: rgb(255,255,255);
  
  /*
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  */
}

#second_nav_dropdown_link {
    font-size: 26px;
    font-family: 'Mate SC', serif;
}

.btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
  background-color: #222222;
}
.btn-navbar:active, .btn-navbar.active {
  background-color: #080808 \9;
}
.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
.nav-collapse.collapse {
  height: auto;
}
.navbar2 .brand:hover {
  text-decoration: none;
}
.navbar2 .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
.navbar2 .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color:  rgb(227, 66, 52);
}
.navbar2 .navbar-text a:hover {
  color: #ffffff;
  background-color: transparent;
}
.navbar2 .btn, .navbar2 .btn-group {
  margin-top: 5px;
}
.navbar2 .btn-group .btn {
  margin-top: 0;
}
.navbar-fixed-top2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-fixed-top2 .navbar-inner2 {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar2 .nav2 {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 90px 0 0;
}
.navbar2 .nav2.pull-right {
  float: right;
}
.navbar2 .nav2 > li {
  display: block;
  float: left;
}
.navbar2 .nav2 > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: black;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar2 .nav2 > li > a:hover {
  background-color: transparent;
  color:  rgb(227, 66, 52);
  text-decoration: none;
}
.navbar2 .nav2 .active > a, .navbar .nav2 .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);  
}
.navbar2 .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}
.navbar2 .nav2.pull-right {
  margin-left: 10px;
  margin-right: 0;
}
.navbar .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar2 .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar2 .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar2 .nav2 .dropdown-toggle .caret, .navbar .nav2 .open.dropdown .caret {
  border-top-color: black;
}
.navbar2 .nav2 .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar2 .nav2 .open > .dropdown-toggle, .navbar .nav2 .active > .dropdown-toggle, .navbar .nav2 .open.active > .dropdown-toggle {
  background-color: transparent;
}
.navbar2 .nav2 .active > .dropdown-toggle:hover {
  color: #ffffff;
}
.navbar2 .nav2.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar2 .nav2.pull-right .dropdown-menu:before {
  left: auto;
  right: 12px;
}
.navbar2 .nav2.pull-right .dropdown-menu:after {
  left: auto;
  right: 13px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 1;
  filter: alpha(opacity=30);
  content: "\2193";
}


/*Footer Stuff
--------------------------------------------------------------------------------------------------------------
*/

.hero-unit1 {
  padding: 60px;
  margin-bottom: 30px;
  background-color: black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.row {
  margin-left: -20px;
  *zoom: 1;
  background-color: black;
}

#row1 {
  margin-left: -20px;
  *zoom: 1;
  background-color: black;
}

#content_row {
    background:url(background_seal.jpg);
    background-color: rgb(239,239,239);
    -moz-background-size:; /* Firefox 3.6 */
    background-size:;
    background-repeat:no-repeat;
}

#footerlogo_pushright {
    margin-left: 191px;
    margin-top: 18px;
}

.footer {
    margin-left: 191px;
    margin-top: 15px;
}

#footer_address {
    margin-left: 43px;
    margin-top: 22px;
    color: white;
    margin-top: 37px;
}

#footerbar {
    margin-left: 246px;
    margin-top: 11px;
}

#footer_menu {
    margin-left: -46px;
}

#footer_menu ul {
    list-style-type: none;
    margin-top: 6px;
}

#footer_menu_link {
    padding-top: 15px;
    font-size: 14px;
}

#footer_menu_link a {
    color: white;
}

#footer_menu_link a:hover {
    color: rgb(277, 66, 52);
}

#musty_footer {
    background-color: rgb(239, 241, 208);
}

#musty_footer_link {
    display: inline;
    padding-right: 63px;
    margin-top: 10px;
}

#musty_footer_link a {
    color: black;
    font-size: 15px;
}

#musty_footer_link a:hover {
    color: rgb(277, 66, 52);
}


/* Home Page Carousel Stuff
--------------------------------------------------------------------------------------------------------------
*/

#myCarousel {
    margin-left: 25px;
   
}

.carousel {
  position: relative;
  margin-bottom: 0px;
  line-height: 1;
  width: 640px;
  margin-right: 0px;
   
  
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-left: 10px;
  
}
.carousel .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -ms-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  
}
.carousel .item > img {
  display: block;
  line-height: 1;
}
.carousel .active, .carousel .next, .carousel .prev {
  display: block;
}
.carousel .active {
  left: 0;
}
.carousel .next, .carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .next {
  left: 100%;
}
.carousel .prev {
  left: -100%;
}
.carousel .next.left, .carousel .prev.right {
  left: 0;
}
.carousel .active.left {
  left: -100%;
}
.carousel .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: 15px;
}
.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(277, 66, 52, 0.75);
}
.carousel-caption h4, .carousel-caption p {
  color: #ffffff;
}


/* Middle of Home Page Stuff
--------------------------------------------------------------------------------------------------------------
*/

#walkofhonor {
    height: 360px;
    margin-left: 20px;
}

#first_element {
    height: 120px;
}

#second_element {
    margin-top: 0px;
    height: 359px;
    background-color: black;
}

#home_logo {
    margin-top: 16px;
}

#middle_stuff {
    /*background-color: rgb(235, 239, 195);*/
    background-image: url('/images/background_seal.gif');
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-left: 25px;
}

#middle_row {
    background-color: black;
}


#floating_news1 {
	
        margin-left: 190px;
        margin-top: 20px;
        margin-bottom: 20px;
	padding: 20px 20px 0px 20px;
	background: #FFF;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-webkit-box-shadow:0 0 3px #666666; 
	-moz-box-shadow: 0 0 3px #666666; 
	box-shadow:0 0 3px #666666; 
}

#floating_news2 {
	
        margin-left: 73px;
        margin-right: 58px;
        margin-top: 20px;
        margin-bottom: 20px;
	padding: 20px 20px 0px 20px;
	background: #FFF;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-webkit-box-shadow:0 0 3px #666666; 
	-moz-box-shadow: 0 0 3px #666666; 
	box-shadow:0 0 3px #666666; 
}

#floating_news3 {
	
        
        margin-top: 20px;
        margin-bottom: 20px;
	padding: 20px 20px 0px 20px;
	background: #FFF;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-webkit-box-shadow:0 0 3px #666666; 
	-moz-box-shadow: 0 0 3px #666666; 
	box-shadow:0 0 3px #666666; 
}

#news_bar_top {
    margin-left: 190px;
    margin-top: 20px;
    width: 931px;
    background: #E34234;
    	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-webkit-box-shadow:0 0 10px #666666; 
	-moz-box-shadow: 0 0 10px #666666; 
	box-shadow:0 0 10px #666666; 

}

#news_link:hover {
  background-color: transparent;
  color:  rgb(227, 66, 52);
  text-decoration: none;
}




/*--------------------------------------------------Secondary Pages-------------------------------------------------*/

#content_row_s {
    background:url(secondary_seal.jpg);
    background-color: rgb(239,239,239);
    -moz-background-size:; /* Firefox 3.6 */
    background-size:;
    background-repeat:repeat-x;
}

.sidebar-nav {
      border-top: 6px solid #A51C30;
     border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;   
     border-top-width: 6px;
     border-top-left-radius: 2px;
     border-top-right-radius: 2px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
     border-bottom-left-
     border-top-style: solid;
     border-top-color: red;
    margin-left: 170px;
    margin-right: -190px;
    margin-top: 51px;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.breadcrumb {
    margin-top: 10px;
    margin-left: 190px;
    width: 910px;
}

#content_row_super {
    background:url(fac_1.bmp);
    -moz-background-size:; /* Firefox 3.6 */
    background-repeat:repeat-x;

}

#breadcrumb_link {
    color: rgb(277, 66, 52);
}

#secondary_pg_header {
    color:white;
    margin-left: 190px;
    font-size: 300%;
    margin-top: -20px;
}

#header_description {
    color:white;
    margin-left: 190px;
}

/*-------------------------------Sidebar Navigation Stuff----------------------------------*/


.nav-list .active > a {

  color: #555555;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(277, 66, 52);
  font-size: 12px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.nav-list .active > a:hover {
  background-color: rgb(277, 66, 52);
}

.nav-list .inactive > a {
  color: #555555;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.nav-list .inactive > a:hover {
  background-color: white;
  text-decoration: underline;
  color: rgb(277, 66, 52);
}

/*-------------------------------Accordian Stuff----------------------------------*/

.accordion {
    border-top: 6px solid #A51C30;
     border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;   
     border-top-width: 6px;
     border-top-left-radius: 2px;
     border-top-right-radius: 2px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
     border-bottom-left-
     border-top-style: solid;
     border-top-color: red;
  margin-top: 51px;
  margin-bottom: 18px;
  margin-left: 220px;
}

.accordion-group {
     
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

.accordion-toggle {
    color: rgb(81, 81, 81);
    text-decoration: none;
}

.accordion-toggle:hover {
    color: rgb(277, 66, 52);
    text-decoration: underline;
}

.two-columns {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
}

/*-------------------------------Middle-Page Headers----------------------------------*/

#floating_header1 {
	
        margin-left: 244px;
        margin-top: 50px;
        margin-bottom: 20px;
	padding: 20px 20px 0px 20px;
	background: #FFF;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-webkit-box-shadow:0 0 10px #666666; 
	-moz-box-shadow: 0 0 10px #666666; 
	box-shadow:0 0 10px #666666; 
}

#floating_header2 {
	height: 212px;
        margin-left: 30px;
        margin-right: 58px;
        margin-top: 50px;
        margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	background: #FFF;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-webkit-box-shadow:0 0 5px #666666; 
	-moz-box-shadow: 0 0 5px #666666; 
	box-shadow:0 0 5px #666666; 
}

.img_shadow {
    -webkit-box-shadow:0 0 1px #666666; 
	-moz-box-shadow: 0 0 1px #666666; 
	box-shadow:0 0 1px #666666; 
}

#floating_header2-2 {
	height: 210px;
        margin-left: 30px;
        margin-right: 58px;
        margin-top: 10px;
        margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	background: #FFF;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-webkit-box-shadow:0 0 15px #666666; 
	-moz-box-shadow: 0 0 5px #666666; 
	box-shadow:0 0 5px #666666; 
}

#floating_header2-3 {
	height: 232px;
        margin-left: 0px;
        margin-right: 170px;
        margin-top: 10px;
        margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	background: #FFF;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-webkit-box-shadow:0 0 15px #666666; 
	-moz-box-shadow: 0 0 5px #666666; 
	box-shadow:0 0 5px #666666; 
}

#gradbullsshot {
    height: 126px;
    margin-left: 28px;
}

#shift_gradbull_link {
    margin-left: 28px;
}


#shift_gradbull_link:hover {
    color: rgb(277, 66, 52);
}

#adcalsshot {
    height: 128px;
    margin-left: 30px;
}